@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(193, 38%, 86%);
}

a{
    text-decoration: none;
    color: hsl(150, 100%, 66%);
}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}